sif/*.sif
build_logs/
dockerfiles/STAR
dockerfiles/featureCounts
dockerfiles/subread-*
dockerfiles/STAR
dockerfiles/featureCounts
dockerfiles/subread-*
build_logs/
sif/
dockerfiles/obsolete/
.coverage
coverage.json
tests/__pycache__/
tests/__pycache__/
tests/__pycache__/
